h1 {
  font-size: 1.5em;
  margin: 2em 0 1em 0;
}

.top {
  display: inline;
  padding: 0 2em 0 0;
  color: #353535;
  font-size: 1.2em;
}

.task-input {
  margin: 1.5em 0 1.5em 0;
  display: flex;
}

.task-input input {
  width: 100%;
  border: 1px solid rgb(184, 184, 184);
  padding: 5px;
  font-weight: 500;
  background-color: #ffffffc5;
}

.task-input button {
  background-color: #909090c5;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #003647c5;
  cursor: pointer;
}

.task {
  display: flex;
  margin: 5px 0 5px 0;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  background-color: rgba(28, 155, 160, 0.281);
  color: #6d6d6d;
}

.task:hover {
  background-color: #64646448;
}

.task label {
  padding-left: 1em;
  padding-top: 0.3em;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.task li {
  width: 100%;
  cursor: pointer;
}

.task-done {
  background-color: #a8a8a827;
}

.task-done label {
  color: #72727250;
  text-decoration: line-through;
  cursor: pointer;
}

.task-done .action-btn {
  background-color: none;
}

.check {
  border: none;
  background-color: none;
  margin-top: 0.4rem;
}

.action-btn {
  cursor: pointer;
  margin-left: 10px;
  padding-top: 0.4em;
  user-select: none;
  touch-action: manipulation;
}

.action-btn:hover {
  background-color: #e40a0a3d;
}

.delete {
  border: none;
}